{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <header id="bg-main" class="article">
        <div id="bg-overlay" class="article" class="row">
            <div id="bg-description" class="small-7 small-centered columns">
                <div class="title-content">
                <div class="title-inner">
                    <h1>{% trans "JOIN OUR MISSION" %}</h1>
                    <hr>
                    <h4>{% trans "February 5-7, 2015" %}</h4>
                </div>
                </div>
            </div>
        </div>
        <div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
    </header>
    <div id="breadcrumbs" class="article {{category.slug}}">
        {% trans "Password reset complete" %}
    </div>
    <div class="row">
        <div class="small-10 small-centered medium-6 medium-centered columns">
            <section class="form">
            	<h4>{% trans "Reset Complete" %}</h4>
			    <p><label>{% trans "Your password has been set. You may go ahead and log in now." %}</label></p>
				<br><br>
                <a href="{% url 'login' %}" class="btn">{% trans "Login" %}</a>
            </section>
        </div>
    </div>
    <div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
        <div id="bg-bottom-overlay" class="home">
            <div class="title-content">
            <div class="title-inner">
                <h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
            </div>
            </div>
        </div>
    </div>
{% endblock %}