{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article">
		<div id="bg-overlay" class="article" class="row">
			<div id="bg-description" class="small-7 small-centered columns">
				<div class="title-content">
				<div class="title-inner">
					<h1>{% trans "JOIN OUR MISSION" %}</h1>
					<hr>
					<h4>{% trans "February 5-7, 2015" %}</h4>
				</div>
				</div>
			</div>
		</div>
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{% trans "Reset Password" %}
	</div>
	<div class="row">
		<div class="small-10 small-centered medium-6 medium-centered columns">
			<section class="form">
				<h4>{% trans "Set a new password" %}</h4>
				{% if form.errors %}
					<p class="error">{% trans "Oops! Something went wrong, please try again." %}</p>
				{% endif %}
				<form id="reset-password" action="" method="post">
				    {% csrf_token %}
				    <label for="id_email">{% trans 'Email' %}</label>
				    {{ form.email }}
				    <input type="submit" class="btn btn-primary" value="{% trans 'Reset password' %}" />
				</form>
			</section>
		</div>
	</div>
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
		<div id="bg-bottom-overlay" class="home">
            <div class="title-content">
            <div class="title-inner">
            	<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
            </div>
            </div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
	<script type="text/javascript">
		FORM_RULES = {
		    '{{ form.email.name }}': { required: true, email:true },
		};
		
		MESSAGE_RULES = {
			'{{ form.email.name }}': { required: "{% trans 'Enter your email to get updates' %}", email: "{% trans 'Enter a valid email address' %}" },
		}
		$(document).ready(function() {
		    $('#reset-password').validate({
		        rules: FORM_RULES,
		        messages: MESSAGE_RULES
		    });
		});
	</script>
{% endblock javascript %}