{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <header id="bg-main" class="article">
        <div id="bg-overlay" class="article" class="row">
            <div id="bg-description" class="small-7 small-centered columns">
                <div class="title-content">
                <div class="title-inner">
                    <h1>{% trans "JOIN OUR MISSION" %}</h1>
                    <hr>
                    <h4>{% trans "February 5-7, 2015" %}</h4>
                </div>
                </div>
            </div>
        </div>
        <div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
    </header>
    <div id="breadcrumbs" class="article {{category.slug}}">
        {% trans "Setting new password" %}
    </div>
    <div class="row">
        <div class="small-10 small-centered medium-6 medium-centered columns">
            <section class="form">
                    {% if validlink %}
                        <h4>{% trans "Set New Password" %}</h4>
                        <p>{% trans "Please enter your new password twice." %}</p>
                        {% if form.errors %}
                            <p class="error">{% trans "Oops! Something went wrong, please try again." %}</p>
                        {% endif %}

                        <form id="new-password" action="" method="post">
                            <div style="display:none">
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                            </div>
                            <label for="id_new_password1">{% trans "New Password" %}:</label>
                            {{ form.new_password1 }}
                            <label for="id_new_password2">{% trans "Confirm Password" %}:</label>
                            {{ form.new_password2 }}
                            <input type="submit" value="{% trans 'Change my password' %}" />
                        </form>
                    {% else %}
                        <h4>{% trans "Password reset unsuccessful" %}</h4>
                        <p><label>{% trans "The password reset link was invalid" %}</label></p>
                        <p><label>{% trans "Please request a new password reset." %}</label></p>
                    {% endif %}
            </section>
        </div>
    </div>
    <div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
        <div id="bg-bottom-overlay" class="home">
            <div class="title-content">
            <div class="title-inner">
                <h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
    <script type="text/javascript">
        FORM_RULES = {
            '{{ form.new_password1 }}': { required: true },
            '{{ form.new_password2 }}': { required: true, equalTo: "#id_new_password2" },
        };
        
        MESSAGE_RULES = {
            '{{ form.new_password1 }}': "{% trans 'Enter your new password' %}",
            '{{ form.new_password2 }}': "{% trans 'Please enter the same password as before' %}",
        }
        $(document).ready(function() {
            //placeholder
            $('#new-password').validate({
                rules: FORM_RULES,
                messages: MESSAGE_RULES
            });
        });
    </script>
{% endblock javascript %}