{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>UDEMUN 2015</title>
	{% block styling %}
		{# load foundation styles #}
		<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}" />
		<link rel="stylesheet" href="{% static 'foundation/css/foundation-icons.css' %}" />
		<link rel="stylesheet" href="{% static 'stylesheets/main.css' %}" />
	{% endblock styling %}
	<meta name="Description" content="UDEMUN es un modelo que busca simular a las Naciones Unidas de la manera más enriquecedora posible. Te da la posibilidad de ser parte de experiencia educativa al impulsar el desarrollo de habilidades de debate, negociación, diplomacia, y expresión oral y escrita.">
	<meta name="Keywords" content="Prepa UDEM, UDEM, Naciones Unidas, Unidad San Pedro, Monterrey, Nuevo León, San Pedro Garza García">
	<link href="https://d3axz3kazhjmop.cloudfront.net/media/static/udemun_img/udemun.ico" rel="icon" type="image/x-icon" />

	<!-- Facebook Metadata /-->
	<meta property="og:image" content="http://www.udemun.com/img/team.jpg" />
	<meta property="og:description" content="UDEMUN es un modelo que busca simular a las Naciones Unidas de la manera más enriquecedora posible. Te da la posibilidad de ser parte de experiencia educativa al impulsar el desarrollo de habilidades de debate, negociación, diplomacia, y expresión oral y escrita."/>
	<meta property="og:title" content="UDEMUN 2015"/>

	<!-- Google+ Metadata /-->
	<meta itemprop="name" content="UDEMUN 2015">
	<meta itemprop="description" content="UDEMUN es un modelo que busca simular a las Naciones Unidas de la manera más enriquecedora posible. Te da la posibilidad de ser parte de experiencia educativa al impulsar el desarrollo de habilidades de debate, negociación, diplomacia, y expresión oral y escrita.">
	<meta itemprop="image" content="http://files.udemun.com/media/static/udemun_img/8_2.jpg">
</head>

<body>

	<header id="main_menu">
		<div class="customrow">
		<a href="/" title="UDEMUN 2015"><img src="{% static 'udemun_img/udemun_logo_color.png' %}" /></a>
		{% include "main_menu.html" %}
		</div>
	</header>

	<div id="main-content">
		{% block content %}
		{% endblock content %}
	</div>

	{% include "sponsors.html" %}

	<footer>
		{% block footer %}
		<div id="main-footer" class="customrow">
			{% include "footer.html" %}
			<div class="small-12 medium-3 columns">
				<h1>{% trans "Map" %}</h1>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.4160056266164!2d-100.42099999999996!3d25.657501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bd5ceb80988f%3A0xee99103122a63ce4!2sPrepa+UdeM+Unidad+San+Pedro!5e0!3m2!1ses!2smx!4v1409563757881" width="400" height="300" frameborder="0" style="border:0"></iframe>
			</div>
			<div class="small-12 medium-3 columns">
				<p><a href="http://www.udem.edu.mx/Esp/Preparatoria/Pages/Prepa.aspx" title="Prepa UDEM"><img src="{% static 'udemun_img/rsz_logo_big.png' %}" /></a></p>
			</div>
		</div>
		<div id="bottom-footer" class="customrow">
			<hr>
			<div class="small-3 columns">
				{% block footerLanguage %}
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as languages %}
				{% for lang_code, lang_name in languages %}
					{% if lang_code != LANGUAGE_CODE %}
						{% language lang_code %}
						<p>Language: 
						<a id="language_footer" href="{% url 'home' %}">
							{% if lang_name == "Spanish" %} Español
							{% else %} English
							{% endif %}
						</a>
						<p>
						{% endlanguage %}
					{% endif %}
				{% endfor %}
				{% endblock footerLanguage %}
			</div>
			<div class="small-6 columns">
				<p>{% trans "All rights reserved to" %} UDEMUN 2015 ©</p>
			</div>
			<div class="small-3 columns">
				<ul id="footer-social">
					<li><a href="https://www.facebook.com/UDEMUN2015" id="facebook_footer" title="facebook"></a></li>
					<li><a href="https://twitter.com/UDEMUN2015" id="twitter_footer" title="twitter"></a></li>
				</ul>
			</div>
		</div>
		{% endblock footer %}
	</footer>

	{% block javascript %}
		<script type="text/javascript" src="{% static 'modernizr/modernizr.js' %}"></script>
		<script type="text/javascript" src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
	    <script type="text/javascript" src="{% static 'foundation/js/foundation.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/waypoint.min.js' %}"></script>
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhlcYzS7x8RPHg7YRqUVV2oMQiokCISvg"></script>
		<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-51807711-1', 'udemun.com');
		  ga('send', 'pageview');

		</script>
	{% endblock javascript %}

</body>
</html>