{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article">
		<div id="bg-overlay" class="article" class="row">
			<div id="bg-description" class="small-10 small-centered medium-7 medium-centered columns">
				<div class="title-content">
				<div class="title-inner">
					<h1>{% trans "JOIN OUR MISSION" %}</h1>
					<hr>
					<h4>{% trans "February 5-7, 2015" %}</h4>
				</div>
				</div>
			</div>
		</div>
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{% trans "Login" %}
	</div>
	<div class="row">
		<div class="small-10 small-centered medium-6 medium-centered columns">
			<section class="form">
				<h4>{% trans "Login to your UDEMUN teacher account" %}</h4>
				{% if form.errors %}
					<p class="error">{% trans "Oops! Something went wrong, please try again." %}</p>
				{% endif %}
				<form id="login-form" role="form" method="post" action="{% url 'login' %}">
				    {% csrf_token %}
				    {{ form.username.label_tag }}
			        {{ form.username }}
			        {{ form.password.label_tag }}
			        {{ form.password }}
				    <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
				    <input type="hidden" name="next" value="{{ next }}" />
				</form>
				<p class="center"><a href="{% url 'password_reset' %}">{% trans "Can't access your account?" %}</a></p>
				<hr>
				<p class="center"><a href="{% url 'teacher_register' %}">{% trans "Don't have an UDEMUN account? Sign up now" %}</a></p>
			</section>
		</div>
	</div>
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
		<div id="bg-bottom-overlay" class="home">
			<div class="title-content">
			<div class="title-inner">
				<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
			</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
	<script type="text/javascript">
		FORM_RULES = {
		    '{{ form.username.name }}': { required: true },
		    '{{ form.password.name }}': { required: true },
		};
		
		MESSAGE_RULES = {
			'{{ form.username.name }}': "{% trans 'Enter your account username or email address' %}",
			'{{ form.password.name }}': "{% trans 'Enter your account password' %}",
		}
		$(document).ready(function() {
			//placeholder
			$("#id_username").attr('placeholder', '{% trans "Username or Email address" %}');
			$("#id_password").attr('placeholder', '{% trans "Enter your account password" %}');
		    $('#login-form').validate({
		        rules: FORM_RULES,
		        messages: MESSAGE_RULES
		    });
		});
	</script>
{% endblock javascript %}

