{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article article-header">
		{% if article.pk|divisibleby:"7" %}
		<div id="bg-overlay" class="article cat1" class="row">
		{% elif article.pk|divisibleby:"2"%}
		<div id="bg-overlay" class="article cat2" class="row">
		{% elif article.pk|divisibleby:"3"%}
		<div id="bg-overlay" class="article cat3" class="row">
		{% elif article.pk|divisibleby:"5"%}
		<div id="bg-overlay" class="article cat5" class="row">
		{% else %}
		<div id="bg-overlay" class="article" class="row">
		{% endif %}
			<div id="bg-description" class="small-11 small-centered medium-7 medium-centered columns">
				<div class="title-content">
				<div class="title-inner">
				{% if article.topBannerTitle %}
					{{article.topBannerTitle|markdown}}
				{% elif article.category.topBannerTitle %}
					{{article.category.topBannerTitle|markdown}}
				{% else %}
					<h1>{% trans "JOIN OUR MISSION" %}</h1>
					<hr>
					<h4>{% trans "February 5-7, 2015" %}</h4>
				{% endif %}
				</div>
				</div>
			</div>
		</div>
		{% if article.topBanner %}
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}{{article.topBanner}}')"></div>
		{% elif category.topBanner%}
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}{{category.topBanner}}')"></div>
		{% else %}
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_header.jpg')"></div>
		{% endif %}
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{% if article.category.parent %}
			{{ article.category.parent }} /
		{% endif %}
		{{article.category}}
	</div>
	<div class="row">
		<div class="small-10 small-centered columns">
			<section class="description article article-waypoint" 
			data-animate-down="article-header-fadeout" data-animate-up="article-header-fadein">
				{% if article.moderator %}
					<br>
					<div class="row">
						<div class="small-6 columns">
							<div class="people-profile">
								<p><img src="{{ MEDIA_URL }}{{article.moderator.picture}}" /></p>
								<p class="people-name">{{article.moderator.name}}</p>
								<p class="people-role">Moderator</p>
							</div>
						</div>
						<div class="small-6 columns">
							<div class="people-profile">
								<p><img src="{{ MEDIA_URL }}{{article.pres.picture}}" /></p>
								<p class="people-name">{{article.pres.name}}</p>
								<p class="people-role">Director</p>
							</div>
						</div>
					</div>
				<hr>
				{% endif %}
				{{article.description|markdown}}
				{% for key,values in people.items %}
					<div class="row">
					{% for item in values.team %}
						<div class="small-{{values.max}} columns">
							<div class="people-profile">
								<p><img src="{{ MEDIA_URL }}{{item.picture}}" /></p>
								<p class="people-name">{{item.name}}</p>
								<p class="people-role">{{item.role}}</p>
							</div>
						</div>
					{% endfor%}
					</div>
				{% endfor %}
				{% if article.document %}
					<h4>{{article.documentTitle}}</h4>
					<h3><a href="{{ MEDIA_URL }}{{article.document}}" target="_blank" title="{{article.documentTitle}}">Download Article</a></h3>
					<iframe src="{{ MEDIA_URL }}{{article.document}}"></iframe>
				{% endif %}
			</section>
		</div>
	</div>
	{% if article.bottomBanner %}
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}{{article.bottomBanner}}')">
	{% else %}
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
	{% endif%}
		<div id="bg-bottom-overlay" class="home">
			<div class="title-content">
			<div class="title-inner">
			{% if article.bottomBannerTitle %}
				<h3><p>{{article.bottomBannerTitle|markdown}}</p></h3>
			{% else %}
            	<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
			{% endif %}
			</div>
			</div>
		</div>
	</div>
{% endblock content %}
