{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article">
		<div id="bg-overlay" class="article {{category.slug}}" class="row">
			<div id="bg-description" class="small-7 small-centered columns">
				{% if article.category.topBannerTitle %}
					{{article.category.topBannerTitle|markdown}}
				{% else %}
					<h1>JOIN OUR MISSION</h1>
					<hr>
					<h4>February 5-7, 2015</h4>
				{% endif %}
			</div>
		</div>
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('/{{category.topBanner}}')"></div>
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{{article.title}}
	</div>
	<div class="row">
		<div class="small-10 small-centered columns">
			{% for items in article %}
				{% if child %}
					<p>{{items.label}}</p>
				{% else %}
					<p>{{items.title}}</p>
				{% endif %}
			{% empty %}
				nothing here
			{% endfor %}
		</div>
	</div>
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
		<div id="bg-bottom-overlay" class="home">
			<h3><p>Default</p></h3>
		</div>
	</div>
{% endblock content %}