{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main">
		<div id="bg-overlay" class="home" class="row">
			<div id="bg-description" class="small-11 small-centered medium-7 medium-centered columns">
				<div class="title-content">
				<div class="title-inner">
				{{article.topBannerTitle|markdown}}
				<a href="{% url 'teacher_register' %}" class="btn big">{% trans "Sign Up" %}</a>
				</div>
				</div>
			</div>
		</div>
		<div id="bg-video">
			<video preload="auto" autoplay="autoplay" loop="true">
		        <source src="{% static 'video/udemun_low.mp4' %}" type="video/mp4">
				<source src="{% static 'video/udemun_low.webm' %}" type="video/webm">
				<source src="{% static 'video/udemun_low.ogv' %}" type="video/ogg">
		    </video>
		</div>
	</header>
	<div id="breadcrumbs" class="home counter">
		<p id="clock"></p>
	</div>
	<div class="row">
		<div class="small-10 small-centered columns">
			<section class="president home">
				<img src="{{ MEDIA_URL }}{{president.picture}}" />
				<h4>{{president.name}}</h4>
				<h6>{{president.role}}</h6>
			</section>
			<hr>
			<section class="description welcome">
					{{article.description|markdown}}
					<p class="salute">{{president.name}}</p>
					<p class="salute subtitle"><em>{{president.role}}</em></p>
					<p class="salute subtitle"><em>{{president.contact}}</em></p>
			</section>
		</div>
	</div>
	{% if article.bottomBanner %}
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}{{article.bottomBanner}}')">
	{% else %}
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
	{% endif%}
		<div id="bg-bottom-overlay" class="home">
			<div class="title-content">
			<div class="title-inner">
			{% if article.bottomBannerTitle %}
				<h3><p>{{article.bottomBannerTitle|markdown}}</p></h3>
			{% else %}
            	<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
			{% endif %}
			</div>
			</div>
		</div>
	</div>
<!-- 	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %} -->
{% endblock content %}
