@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@font-face {
  font-family: 'NeoSansStd-Bold';
  src: url("../fonts/NeoSansStd-Bold.eot?") format("eot"), url("../fonts/NeoSansStd-Bold.otf") format("opentype"), url("../fonts/NeoSansStd-Bold.woff") format("woff"), url("../fonts/NeoSansStd-Bold.ttf") format("truetype"), url("../fonts/NeoSansStd-Bold.svg#NeoSansStd-Bold") format("svg");
}

@font-face {
  font-family: 'NeoSansStd-Light';
  src: url("../fonts/NeoSansStd-Light.eot?") format("eot"), url("../fonts/NeoSansStd-Light.otf") format("opentype"), url("../fonts/NeoSansStd-Light.woff") format("woff"), url("../fonts/NeoSansStd-Light.ttf") format("truetype"), url("../fonts/NeoSansStd-Light.svg#NeoSansStd-Light") format("svg");
}

@font-face {
  font-family: 'NeoSansStd-Regular';
  src: url("../fonts/NeoSansStd-Regular.eot?") format("eot"), url("../fonts/NeoSansStd-Regular.otf") format("opentype"), url("../fonts/NeoSansStd-Regular.woff") format("woff"), url("../fonts/NeoSansStd-Regular.ttf") format("truetype"), url("../fonts/NeoSansStd-Regular.svg#NeoSansStd-Regular") format("svg");
}

@font-face {
  font-family: 'newjuneboldregular';
  src: url("../fonts/newjune-bold-webfont.eot");
  src: url("../fonts/newjune-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/newjune-bold-webfont.woff") format("woff"), url("../fonts/newjune-bold-webfont.ttf") format("truetype"), url("../fonts/newjune-bold-webfont.svg#newjuneboldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'newjunebookregular';
  src: url("../fonts/newjune-book-webfont.eot");
  src: url("../fonts/newjune-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/newjune-book-webfont.woff") format("woff"), url("../fonts/newjune-book-webfont.ttf") format("truetype"), url("../fonts/newjune-book-webfont.svg#newjunebookregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_menu.scss */
#main_menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 5;
  border-bottom: 1px solid #cccccc;
}
@media only screen and (max-width: 899px) {
  /* line 1, ../sass/_menu.scss */
  #main_menu {
    position: relative;
  }
}
/* line 11, ../sass/_menu.scss */
#main_menu img {
  margin-top: -0.5em;
}
/* line 15, ../sass/_menu.scss */
#main_menu #menu-mob {
  display: none;
  position: absolute;
  right: 1em;
  top: 1.2em;
}
/* line 20, ../sass/_menu.scss */
#main_menu #menu-mob i {
  margin-left: 0.5em;
}
@media only screen and (max-width: 899px) {
  /* line 15, ../sass/_menu.scss */
  #main_menu #menu-mob {
    display: inline-block;
    max-height: 32px;
  }
}
/* line 24, ../sass/_menu.scss */
#main_menu nav {
  position: absolute;
  right: 0;
  display: inline-block;
  height: 100%;
  top: 0;
}
/* line 31, ../sass/_menu.scss */
#main_menu nav > ul {
  margin: 0;
  list-style: none;
  background-color: white;
  position: relative;
  height: 100%;
}
/* line 38, ../sass/_menu.scss */
#main_menu nav > ul li {
  float: left;
  position: relative;
  padding: 1em 1em;
  height: 100%;
  line-height: 3em;
}
@media only screen and (max-width: 900px) {
  /* line 38, ../sass/_menu.scss */
  #main_menu nav > ul li {
    float: none;
    padding: 1em 1em;
  }
}
@media only screen and (max-width: 900px) {
  /* line 24, ../sass/_menu.scss */
  #main_menu nav {
    display: none;
    position: relative;
    width: 100%;
  }
  /* line 54, ../sass/_menu.scss */
  #main_menu nav.toggle {
    display: block;
  }
}
/* line 60, ../sass/_menu.scss */
#main_menu li {
  font-family: 'NeoSansStd-Light';
  font-size: 1em;
}
/* line 65, ../sass/_menu.scss */
#main_menu .customrow {
  position: relative;
}
@media only screen and (max-width: 899px) {
  /* line 65, ../sass/_menu.scss */
  #main_menu .customrow {
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
}

/* line 72, ../sass/_menu.scss */
#menu li a {
  color: black;
}

/* line 73, ../sass/_menu.scss */
#menu li span {
  white-space: nowrap;
}

/* line 74, ../sass/_menu.scss */
#menu li a.active {
  color: #009ba9;
}

/* line 75, ../sass/_menu.scss */
#menu li:hover > a {
  color: #e11a22;
}

/* line 76, ../sass/_menu.scss */
#menu li:hover > span {
  color: #e11a22;
}

@media only screen and (min-width: 901px) {
  /* line 77, ../sass/_menu.scss */
  #menu li:hover > .submenu {
    display: block;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    padding-bottom: 1em;
    list-style: none;
    margin-top: -1px;
  }
}

@media only screen and (max-width: 900px) {
  /* line 89, ../sass/_menu.scss */
  #menu li.toggle > .submenu {
    padding-bottom: 0;
    display: block;
    height: auto;
    width: auto;
    list-style: none;
    overflow: visible;
    clip: auto;
  }
}

@media only screen and (min-width: 901px) {
  /* line 100, ../sass/_menu.scss */
  #menu li:hover > .submenu li {
    overflow: visible;
    padding: 0.5em 1em;
  }
}

@media only screen and (max-width: 900px) {
  /* line 106, ../sass/_menu.scss */
  #menu li.toggle > .submenu li {
    overflow: visible;
    padding: 1em 2em;
  }
}

/* line 112, ../sass/_menu.scss */
#menu .submenu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  margin-left: 0;
  background-color: white;
  min-width: 100%;
  margin-top: -1px;
}
@media only screen and (max-width: 900px) {
  /* line 112, ../sass/_menu.scss */
  #menu .submenu {
    position: relative;
    top: 0;
  }
}

/* line 126, ../sass/_menu.scss */
#menu .submenu li {
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
}

/* line 131, ../sass/_menu.scss */
#menu .submenu li a {
  display: block;
  line-height: 20px;
  white-space: nowrap;
}

/* line 137, ../sass/_menu.scss */
#menu .submenu li span {
  display: block;
  line-height: 20px;
  white-space: nowrap;
}

/* line 143, ../sass/_menu.scss */
#menu .submenu li:hover > .submenu {
  left: 100%;
  top: 0;
  list-style: none;
}
@media only screen and (max-width: 900px) {
  /* line 143, ../sass/_menu.scss */
  #menu .submenu li:hover > .submenu {
    left: 0;
  }
}

/* line 1, ../sass/_layout.scss */
html, body, p {
  font-size: 14px;
  color: black;
  /* small only */
}
@media only screen and (max-width: 40em) {
  /* line 1, ../sass/_layout.scss */
  html, body, p {
    font-size: 12px;
  }
}

/* line 7, ../sass/_layout.scss */
hr {
  border-color: #cccccc;
  margin: 2em 0;
}

/*a{
  color: $primary_red;
  &:hover{ color: $primary_red_a; }
  &:link{ color: $primary_red_a; }
  &:active{ color: $primary_gray; }
}*/
/* line 16, ../sass/_layout.scss */
h1 {
  font-family: 'newjuneboldregular';
  font-size: 4.28em;
  /* 60px */
  color: white;
}

/* line 22, ../sass/_layout.scss */
h2 {
  font-family: 'newjuneboldregular';
  font-size: 3.85em;
  /* 54px */
  color: #ffdd00;
}

/* line 28, ../sass/_layout.scss */
h3 {
  font-family: 'newjunebookregular';
  font-size: 3.42em;
  /* 48px */
  color: white;
}

/* line 34, ../sass/_layout.scss */
h4 {
  font-family: 'NeoSansStd-Regular';
  font-size: 1.71em;
  /* 24px */
  color: white;
}

/* line 40, ../sass/_layout.scss */
h5 {
  font-family: 'newjuneboldregular';
  font-size: 2.28em;
  /* 36px */
  color: #ffdd00;
}

/* line 46, ../sass/_layout.scss */
h6 {
  font-family: 'NeoSansStd-Regular';
  font-size: 1em;
  /* 14px */
  color: #333333;
}

/* line 52, ../sass/_layout.scss */
blockquote {
  margin: 2em 0;
}
/* line 54, ../sass/_layout.scss */
blockquote > * {
  font-size: 0.8em;
  line-height: 1.6em;
}

/* line 60, ../sass/_layout.scss */
header#bg-main {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
/* line 66, ../sass/_layout.scss */
header#bg-main #bg-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
/* line 72, ../sass/_layout.scss */
header#bg-main #bg-overlay hr {
  border-color: #ffdd00;
}
/* line 75, ../sass/_layout.scss */
header#bg-main #bg-description {
  text-align: center;
  height: 100%;
}
/* line 79, ../sass/_layout.scss */
header#bg-main #bg-description .title-content {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 85, ../sass/_layout.scss */
header#bg-main #bg-description .title-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 92, ../sass/_layout.scss */
#breadcrumbs {
  background-color: blue;
  height: 60px;
  width: 100%;
  font-family: 'NeoSansStd-Regular';
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
}

/* line 103, ../sass/_layout.scss */
.description > * {
  font-size: 1.42em;
  /* 20px */
  font-family: 'NeoSansStd-Light';
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.8em;
}

/* line 112, ../sass/_layout.scss */
#bg-bottom {
  margin: 5em auto;
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: 0 50%;
}
/* line 119, ../sass/_layout.scss */
#bg-bottom #bg-bottom-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 126, ../sass/_layout.scss */
#bg-bottom #bg-bottom-overlay h3 p {
  font-size: 1em;
  color: white;
}
/* line 133, ../sass/_layout.scss */
#bg-bottom .title-content {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 139, ../sass/_layout.scss */
#bg-bottom .title-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 145, ../sass/_layout.scss */
#bg-banner {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: 0 25%;
}

/* line 154, ../sass/_layout.scss */
.customrow {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  clear: both;
}

/* line 162, ../sass/_layout.scss */
.btn {
  max-height: 25px;
  background-color: #009ba9;
  border-bottom: 2px solid #007580;
  font-family: 'newjuneboldregular';
  color: white !important;
  padding: 8px 12px;
  border-radius: 3px;
}

/* line 172, ../sass/_layout.scss */
.btn.big {
  top: 65px;
  position: relative;
  font-size: 1.25em;
}

/* line 178, ../sass/_layout.scss */
.language-link {
  border-bottom: 1px solid black;
}
/* line 180, ../sass/_layout.scss */
.language-link:hover {
  border-bottom: 1px solid #e11a22;
}

/* line 185, ../sass/_layout.scss */
#main-content {
  position: relative;
}

/* line 1, ../sass/_footer.scss */
#footer-social {
  position: relative;
  top: -5px;
  float: right;
}
/* line 6, ../sass/_footer.scss */
#footer-social li {
  display: inline-block;
  width: 40px;
  height: 40px;
}
/* line 11, ../sass/_footer.scss */
#footer-social li a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 19, ../sass/_footer.scss */
#facebook_footer {
  background-image: url("../imgs/footer-02.png");
  background-repeat: no-repeat;
  background-position: -58px -5px;
}

/* line 25, ../sass/_footer.scss */
#twitter_footer {
  background-image: url("../imgs/footer-02.png");
  background-repeat: no-repeat;
  background-position: -8px -5px;
}

/* line 31, ../sass/_footer.scss */
#main-footer {
  padding-top: 3em;
  height: 280px;
}
/* line 34, ../sass/_footer.scss */
#main-footer h1 {
  color: #76777a;
  font-size: 1.28em;
}
/* line 39, ../sass/_footer.scss */
#main-footer ul {
  position: relative;
  top: 15px;
  list-style: none;
  margin-left: 0;
}
/* line 45, ../sass/_footer.scss */
#main-footer ul li {
  margin: 0.5em 0;
}
/* line 48, ../sass/_footer.scss */
#main-footer a {
  color: #4d4d4d;
  font-family: 'NeoSansStd-Light';
}
/* line 51, ../sass/_footer.scss */
#main-footer a:hover {
  color: #009ba9;
}
/* line 54, ../sass/_footer.scss */
#main-footer p {
  color: #4d4d4d;
  font-family: 'NeoSansStd-Light';
}
/* line 59, ../sass/_footer.scss */
#main-footer iframe {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
  border: none;
}

/* line 69, ../sass/_footer.scss */
#bottom-footer {
  clear: both;
  height: 70px;
}
/* line 73, ../sass/_footer.scss */
#bottom-footer p {
  color: #4d4d4d;
  font-family: 'NeoSansStd-Light';
}

/* line 79, ../sass/_footer.scss */
#language {
  margin-left: 1em;
}

/* line 1, ../sass/_sponsors.scss */
.sponsors-bg {
  position: relative;
  padding: 2em 0;
  margin-top: -5em;
  background-color: #ffdd00;
}
/* line 6, ../sass/_sponsors.scss */
.sponsors-bg h2 {
  color: #4d4d4d !important;
  font-size: 2.5em;
  text-align: center;
  margin: 0.5em 0 1em 0;
}

/* line 1, ../sass/_home.scss */
#bg-overlay.home {
  background-color: rgba(231, 76, 60, 0.5);
}

/* line 5, ../sass/_home.scss */
#breadcrumbs.home {
  background-color: #009ba9;
  padding-top: 0.5em;
}
/* line 8, ../sass/_home.scss */
#breadcrumbs.home p {
  color: white;
  font-family: 'NeoSansStd-Regular';
  font-size: 1.5em;
}

/* line 15, ../sass/_home.scss */
.president.home {
  text-align: center;
}
/* line 17, ../sass/_home.scss */
.president.home img {
  margin: 2em auto;
  width: 128px;
  height: auto;
}
/* line 22, ../sass/_home.scss */
.president.home h4 {
  font-size: 1.71em;
  font-family: 'NeoSansStd-Bold';
  color: black;
  margin: 0;
}
/* line 28, ../sass/_home.scss */
.president.home h6 {
  font-family: 'NeoSansStd-Regular';
  font-size: 1.5em;
  color: black;
  margin: 0;
}

/* line 36, ../sass/_home.scss */
.description.welcome p {
  color: rgba(0, 0, 0, 0.9);
}

/* line 38, ../sass/_home.scss */
.salute {
  text-align: center;
  margin-bottom: 0;
}
/* line 41, ../sass/_home.scss */
.salute.subtitle {
  font-size: 1em;
}

/* line 44, ../sass/_home.scss */
#bg-bottom-overlay.home {
  background-color: rgba(151, 112, 90, 0.5);
}

/* line 46, ../sass/_home.scss */
#bg-video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* line 51, ../sass/_home.scss */
#bg-video video {
  min-width: 100%;
  min-height: 100%;
}

/* line 1, ../sass/_article.scss */
header#bg-main.article {
  height: 450px;
}

/* line 5, ../sass/_article.scss */
#bg-overlay.article {
  background-color: rgba(231, 76, 60, 0.5);
}

/* line 7, ../sass/_article.scss */
#breadcrumbs.article {
  background-color: #ffdd00;
}

/* line 11, ../sass/_article.scss */
#bg-overlay.article.cat1 {
  background-color: rgba(0, 155, 169, 0.7);
}

/* line 12, ../sass/_article.scss */
#bg-overlay.article.cat2 {
  background-color: rgba(151, 112, 90, 0.7);
}

/* line 13, ../sass/_article.scss */
#bg-overlay.article.cat3 {
  background-color: rgba(93, 192, 163, 0.7);
}

/* line 14, ../sass/_article.scss */
#bg-overlay.article.cat5 {
  background-color: rgba(118, 119, 122, 0.7);
}

/* line 17, ../sass/_article.scss */
.description.article iframe {
  width: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 400px;
  overflow: hidden;
  border: none;
}
/* line 26, ../sass/_article.scss */
.description.article > p {
  margin: 1.5em 0;
}
/* line 30, ../sass/_article.scss */
.description.article h5 {
  color: #4d4d4d;
  text-align: center;
  margin: 1.5em 0;
  font-family: 'newjuneboldregular';
  font-size: 2.57em;
  /* 36px */
}
/* line 38, ../sass/_article.scss */
.description.article p {
  font-family: 'NeoSansStd-Light';
}
/* line 42, ../sass/_article.scss */
.description.article h6 {
  font-size: 1.57em;
  /* 22px */
  text-align: left;
  margin: 0.5em 0;
  font-family: 'newjuneboldregular';
  color: #4d4d4d;
}
/* line 49, ../sass/_article.scss */
.description.article h6 strong {
  font-family: 'NeoSansStd-Light';
  font-size: 0.8em;
  margin-right: 1em;
}
/* line 56, ../sass/_article.scss */
.description.article h4 {
  color: #4d4d4d;
  text-align: center;
  margin: 1.5em 0 0 0;
  font-family: 'newjuneboldregular';
  font-size: 1.71em;
  /* 24px */
}
/* line 64, ../sass/_article.scss */
.description.article h3 {
  color: #76777a;
  text-align: center;
  margin: 0 0 1.5em 0;
  font-family: 'NeoSansStd-Light';
  font-size: 1.42em;
  /* 20px */
}
/* line 72, ../sass/_article.scss */
.description.article table {
  margin: 2em auto;
  border: none;
  border-spacing: 0;
}
/* line 76, ../sass/_article.scss */
.description.article table thead {
  background-color: transparent;
}
/* line 77, ../sass/_article.scss */
.description.article table tr th:first-child {
  text-align: right;
  padding-right: 1.6em;
}
/* line 78, ../sass/_article.scss */
.description.article table tr th:last-child {
  text-align: left;
  padding-left: 1.6em;
}
/* line 79, ../sass/_article.scss */
.description.article table th {
  font-family: 'newjuneboldregular';
  font-size: 24px;
  color: #5dc0a3;
  padding-bottom: 2em;
  text-align: center;
  white-space: nowrap;
}
/* line 87, ../sass/_article.scss */
.description.article table tr td:first-child {
  text-align: right;
  border-right: 1px solid #cccccc;
  padding-right: 2em;
}
/* line 88, ../sass/_article.scss */
.description.article table tr td:last-child {
  text-align: left;
  border-left: 1px solid #cccccc;
  padding-left: 2em;
}
/* line 89, ../sass/_article.scss */
.description.article table td {
  font-family: 'newjuneboldregular';
  font-size: 1.05em;
  /* 21px */
  line-height: 1em;
  color: rgba(225, 26, 32, 0.6);
  text-align: center;
  padding-bottom: 1em;
}
/* line 96, ../sass/_article.scss */
.description.article table td strong {
  color: #4d4d4d;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 105, ../sass/_article.scss */
.description.article p + table {
  width: 100%;
  margin: 2em auto;
  border: none;
  border-spacing: 0;
}
/* line 110, ../sass/_article.scss */
.description.article p + table thead {
  background-color: transparent;
}
/* line 111, ../sass/_article.scss */
.description.article p + table th {
  font-family: 'newjuneboldregular';
  font-size: 24px;
  color: #5dc0a3;
  padding-bottom: 2em;
  text-align: left !important;
  white-space: nowrap;
}
/* line 117, ../sass/_article.scss */
.description.article p + table th strong {
  color: rgba(225, 26, 32, 0.6);
}
/* line 120, ../sass/_article.scss */
.description.article p + table td {
  font-family: 'NeoSansStd-Light';
  font-size: 1em;
  /* 21px */
  line-height: 1em;
  color: #4d4d4d;
  text-align: left !important;
  padding-bottom: 1em;
  border: none !important;
}
/* line 128, ../sass/_article.scss */
.description.article p + table td em {
  font-size: 0.8em;
}
/* line 129, ../sass/_article.scss */
.description.article p + table td strong {
  color: #4d4d4d;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 139, ../sass/_article.scss */
.people-profile {
  padding: 1em 0;
  text-align: center;
}
/* line 142, ../sass/_article.scss */
.people-profile img {
  max-width: 165px;
  width: 100%;
}
/* line 143, ../sass/_article.scss */
.people-profile .people-name {
  margin-bottom: 0;
  margin-top: 2em;
}

/* line 146, ../sass/_article.scss */
.people-name {
  font-family: 'NeoSansStd-Light';
  font-size: 0.8em;
  /* 21px */
}

/* line 151, ../sass/_article.scss */
.people-role {
  font-family: 'newjuneboldregular' !important;
  font-size: 0.7em;
  /* 18px */
  color: #333333;
}

/* line 157, ../sass/_article.scss */
.student-card {
  width: 70%;
  margin: 1em auto;
  border-radius: 2px;
  background-color: #f2f2f2;
  border-bottom: 4px solid #cccccc;
  padding: 1em;
  position: relative;
  /* small only */
}
@media only screen and (max-width: 40em) {
  /* line 157, ../sass/_article.scss */
  .student-card {
    width: 100%;
  }
}
/* line 169, ../sass/_article.scss */
.student-card h4 {
  text-align: left !important;
  margin-top: 0 !important;
  margin-bottom: 0.25em;
  font-size: 1.5em !important;
}
/* line 176, ../sass/_article.scss */
.student-card p {
  margin-bottom: 0.5em;
}
/* line 178, ../sass/_article.scss */
.student-card p strong {
  font-family: 'newjuneboldregular';
  margin-right: 1em;
}
/* line 184, ../sass/_article.scss */
.student-card .btn {
  max-height: none !important;
  min-height: 25px !important;
  padding: 4px 12px !important;
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 0.9em;
  /* small only */
}
@media only screen and (max-width: 40em) {
  /* line 184, ../sass/_article.scss */
  .student-card .btn {
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 0;
  }
}
/* line 205, ../sass/_article.scss */
.student-card hr {
  margin: 0.5em 0 !important;
}

/*.article-header,
.article-header #bg-overlay,
.article-header + #breadcrumbs,
.article-header + #breadcrumbs + .row,{
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.article-header,
.article-header #bg-overlay {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 1.2s;
	transition-duration: 1.2s;
}

.article-header.article-header-fadeout + #breadcrumbs{
	-webkit-transform: translateY(-800%);
	transform: translateY(-800%);
	opacity: 1;
}

.article-header.article-header-fadeout + #breadcrumbs + .row{
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
	opacity: 1;
}

.article-header.article-header-fadeout  {
	opacity: 0;
	-webkit-transform: translateY(-100%) scale(0.9);
	transform: translateY(-100%) scale(0.9);
}*/
/* Delays */
/*.article-header.article-header-fadeout + #breadcrumbs,
.article-header.article-header-fadeout + #breadcrumbs + .row {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}*/
/* line 3, ../sass/_form.scss */
.form form {
  width: 80%;
  margin: 2em auto;
  position: relative;
}
/* line 9, ../sass/_form.scss */
.form label {
  font-family: 'NeoSansStd-Light';
  font-size: 1.14em;
  /* 16px */
  margin: 0.5em 0;
}
/* line 15, ../sass/_form.scss */
.form input, .form select {
  height: 45px;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'NeoSansStd-Regular';
  color: #434343;
  box-shadow: none;
  text-shadow: none;
}
/* line 25, ../sass/_form.scss */
.form input.btn {
  padding: 28px 0;
  width: 100%;
  line-height: 0;
  text-align: center;
  font-size: 1.14em;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  margin: 0.5em 0;
  text-transform: uppercase;
  border-bottom: 2px solid #007580;
  font-family: 'newjuneboldregular';
}
/* line 41, ../sass/_form.scss */
.form h4 {
  color: #4d4d4d;
  text-align: center;
  margin: 1.5em 0 0 0;
  font-family: 'newjuneboldregular';
  font-size: 1.71em;
  /* 24px */
}
/* line 49, ../sass/_form.scss */
.form h3 {
  color: #76777a;
  text-align: center;
  margin: 0 0 1.5em 0;
  font-family: 'NeoSansStd-Light';
  font-size: 1.42em;
  /* 20px */
}
/* line 57, ../sass/_form.scss */
.form fieldset legend {
  font-family: 'newjuneboldregular';
  color: #4d4d4d;
}
/* line 62, ../sass/_form.scss */
.form .form-info {
  font-family: 'NeoSansStd-Light';
  color: #76777a;
  font-size: 1.2em;
}
/* line 68, ../sass/_form.scss */
.form .form-info.warning {
  font-size: 1.1em;
  margin-top: -1em;
  color: #009ba9;
}
/* line 74, ../sass/_form.scss */
.form .error {
  border-radius: 2px;
  background-color: rgba(255, 220, 0, 0.25);
  color: rgba(225, 26, 32, 0.6);
  font-family: 'NeoSansStd-Light';
  font-size: 1.14em;
  /* 16px */
  margin: 1em 0;
  padding: 1em;
}
/* line 84, ../sass/_form.scss */
.form .errorlist {
  display: none;
}

/* line 87, ../sass/_form.scss */
.center {
  text-align: center;
}
