header#bg-main.article{ 
	height: 450px;
}

#bg-overlay.article{ background-color: $primary_red_a; }

#breadcrumbs.article{ 
	background-color: $primary_yellow;
}

#bg-overlay.article.cat1{ background-color: $primary_green_a; }
#bg-overlay.article.cat2{ background-color: $primary_brown_a; }
#bg-overlay.article.cat3{ background-color: $primary_mint_a; }
#bg-overlay.article.cat5{ background-color: $primary_gray_a; }

.description.article{
	iframe{
		width: 100%;
		position: relative;
		margin: 0 auto;
		min-height: 400px;
		overflow: hidden;
		border: none;
	}

	& > p{
		margin:1.5em 0;
	}

	h5{ 
		color: $titles;
		text-align: center;
		margin:1.5em 0;
		font-family: 'newjuneboldregular';
		font-size: 2.57em; /* 36px */
	}

	p{
		  font-family: 'NeoSansStd-Light';
	}

	h6{
		font-size: 1.57em; /* 22px */
		text-align: left;
		margin: 0.5em 0;
		font-family: 'newjuneboldregular';
		color: $titles;

		strong{
			font-family: 'NeoSansStd-Light';
			font-size: 0.8em;
			margin-right: 1em;
		}
	}

	h4{
		color: $titles;
		text-align: center;
		margin:1.5em 0 0 0;
		font-family: 'newjuneboldregular';
		font-size: 1.71em; /* 24px */
	}

	h3{
		color: $primary_gray;
		text-align: center;
		margin:0 0 1.5em 0;
		font-family: 'NeoSansStd-Light';
		font-size: 1.42em; /* 20px */
	}

	table{
		margin:2em auto;
		border: none;
		border-spacing: 0;
		thead{ background-color: transparent; }
		tr th:first-child{ text-align: right; padding-right:1.6em; }
		tr th:last-child{ text-align: left; padding-left:1.6em; }
		th{
			font-family: 'newjuneboldregular';
			font-size: 24px;
			color: $primary_mint;
			padding-bottom:2em;
			text-align: center;
			white-space: nowrap;
		}
		tr td:first-child{ text-align: right; border-right:1px solid $hr; padding-right:2em;}
		tr td:last-child{ text-align: left; border-left:1px solid $hr; padding-left:2em;}
		td{
			font-family: 'newjuneboldregular';
			font-size: 1.05em; /* 21px */
			line-height: 1em;
			color: $emp;
			text-align: center;
			padding-bottom: 1em;
			strong{ 
				color: $titles; 
				display: block;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
		}
	}

	p + table{ 
		width: 100%;
		margin:2em auto;
		border: none;
		border-spacing: 0;
		thead{ background-color: transparent; }
		th{
			font-family: 'newjuneboldregular';
			font-size: 24px;
			color: $primary_mint;
			padding-bottom:2em;
			text-align: left !important;
			strong{ color: $emp; }
			white-space: nowrap;
		}
		td{
			font-family: 'NeoSansStd-Light';
			font-size: 1em; /* 21px */
			line-height: 1em;
			color: $titles;  
			text-align: left !important;
			padding-bottom: 1em;
			border:none !important;
			em{ font-size: 0.8em; }
			strong{ 
				color: $titles; 
				display: block;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
		}
	}
}

.people-profile{
	padding:1em 0;
	text-align: center;
	img{ max-width: 165px; width: 100%; }
	.people-name{ margin-bottom: 0; margin-top: 2em; }
}

.people-name{
	font-family: 'NeoSansStd-Light';
	font-size: 0.8em; /* 21px */
}

.people-role{
  	font-family: 'newjuneboldregular' !important;
  	font-size: 0.7em; /* 18px */
  	color: $breadcrumbs;
}

.student-card{
	width:70%;
	margin:1em auto;
	border-radius: 2px;
	background-color: $student_card;
	border-bottom: 4px solid $hr;
	padding:1em;
	position: relative;

	/* small only */
	@media only screen and (max-width: 40em) { width:100%; }

	h4{ 
		text-align: left !important; 
		margin-top: 0 !important;
		margin-bottom: 0.25em;
		font-size: 1.5em !important;
	}

	p{ 
		margin-bottom:0.5em; 
		strong{ 
			font-family: 'newjuneboldregular'; 
			margin-right: 1em;
		}
	}

	.btn{
		max-height: none !important;
		min-height: 25px !important;
		padding: 4px 12px !important;
		position: absolute;
		right: 1em;
		top: 1em;
		font-size:0.9em;

		/* small only */
		@media only screen and (max-width: 40em) { 
			position: relative;
			display: block;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			right: 0;
			top: 0;
		}
	}

	hr{
		margin: 0.5em 0 !important;
	}
}

