/*.article-header,
.article-header #bg-overlay,
.article-header + #breadcrumbs,
.article-header + #breadcrumbs + .row,{
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.article-header,
.article-header #bg-overlay {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 1.2s;
	transition-duration: 1.2s;
}

.article-header.article-header-fadeout + #breadcrumbs{
	-webkit-transform: translateY(-800%);
	transform: translateY(-800%);
	opacity: 1;
}

.article-header.article-header-fadeout + #breadcrumbs + .row{
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
	opacity: 1;
}

.article-header.article-header-fadeout  {
	opacity: 0;
	-webkit-transform: translateY(-100%) scale(0.9);
	transform: translateY(-100%) scale(0.9);
}*/

/* Delays */
/*.article-header.article-header-fadeout + #breadcrumbs,
.article-header.article-header-fadeout + #breadcrumbs + .row {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}*/
