@font-face {
  font-family: 'NeoSansStd-Bold';
  src: url("../fonts/NeoSansStd-Bold.eot?") format("eot"), url("../fonts/NeoSansStd-Bold.otf") format("opentype"), url("../fonts/NeoSansStd-Bold.woff") format("woff"), url("../fonts/NeoSansStd-Bold.ttf") format("truetype"), url("../fonts/NeoSansStd-Bold.svg#NeoSansStd-Bold") format("svg");
}

@font-face {
  font-family: 'NeoSansStd-Light';
  src: url("../fonts/NeoSansStd-Light.eot?") format("eot"), url("../fonts/NeoSansStd-Light.otf") format("opentype"), url("../fonts/NeoSansStd-Light.woff") format("woff"), url("../fonts/NeoSansStd-Light.ttf") format("truetype"), url("../fonts/NeoSansStd-Light.svg#NeoSansStd-Light") format("svg");
}

@font-face {
  font-family: 'NeoSansStd-Regular';
  src: url("../fonts/NeoSansStd-Regular.eot?") format("eot"), url("../fonts/NeoSansStd-Regular.otf") format("opentype"), url("../fonts/NeoSansStd-Regular.woff") format("woff"), url("../fonts/NeoSansStd-Regular.ttf") format("truetype"), url("../fonts/NeoSansStd-Regular.svg#NeoSansStd-Regular") format("svg");
}

@font-face {
  font-family: 'newjuneboldregular';
  src: url("../fonts/newjune-bold-webfont.eot");
  src: url("../fonts/newjune-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/newjune-bold-webfont.woff") format("woff"), url("../fonts/newjune-bold-webfont.ttf") format("truetype"), url("../fonts/newjune-bold-webfont.svg#newjuneboldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'newjunebookregular';
  src: url("../fonts/newjune-book-webfont.eot");
  src: url("../fonts/newjune-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/newjune-book-webfont.woff") format("woff"), url("../fonts/newjune-book-webfont.ttf") format("truetype"), url("../fonts/newjune-book-webfont.svg#newjunebookregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);