#footer-social{
	position: relative;
	top: -5px;
	float: right;

	li{
		display: inline-block;
		width: 40px;
		height: 40px;

		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

#facebook_footer{
	background-image: url("../imgs/footer-02.png");
	background-repeat: no-repeat;
	background-position: -58px -5px;
}

#twitter_footer{
	background-image: url("../imgs/footer-02.png");
	background-repeat: no-repeat;
	background-position: -8px -5px;
}

#main-footer{
	padding-top: 3em;
	height: 280px;
	h1{
		color: $primary_gray;
		font-size: 1.28em;
	}

	ul{
		position: relative;
		top: 15px;
		list-style: none;
		margin-left:0;

		li{ margin: 0.5em 0;}
	}

	a{
		color:$titles;
		font-family: 'NeoSansStd-Light';
		&:hover{ color:$primary_green; }
	}

	p{ 
		color:$titles;
		font-family: 'NeoSansStd-Light'; 
	}

	iframe{
		width: 100%;
		position: relative;
		margin: 0 auto;
		height: 200px;
		overflow: hidden;
		border: none;
	}
}

#bottom-footer{
  clear: both;
  height: 70px;

  p{ 
	color:$titles;
	font-family: 'NeoSansStd-Light'; 
	}
}

#language{ margin-left: 1em; }