.form{

	form{
		width: 80%;
		margin:2em auto;
		position: relative;
	}

	label{
		font-family: 'NeoSansStd-Light';
		font-size: 1.14em; /* 16px */
		margin:0.5em 0;
	}

	input, select{ 
		height: 45px;
		border-radius: 2px;
		font-size: 1em;
		font-family: 'NeoSansStd-Regular';
		color: $input_form;
		box-shadow: none;
		text-shadow: none;
	}

	input.btn{
		padding: 28px 0;
		width:100%;
		line-height: 0;
		text-align: center;
		font-size: 1.14em;
		border-radius: 2px;
		border:none;
		box-shadow: none;
		text-shadow: none;
		margin:0.5em 0;
		text-transform: uppercase;
		border-bottom: 2px solid $btn_border;
		font-family: 'newjuneboldregular';
	}

	h4{
		color: $titles;
		text-align: center;
		margin:1.5em 0 0 0;
		font-family: 'newjuneboldregular';
		font-size: 1.71em; /* 24px */
	}

	h3{
		color: $primary_gray;
		text-align: center;
		margin:0 0 1.5em 0;
		font-family: 'NeoSansStd-Light';
		font-size: 1.42em; /* 20px */
	}

	fieldset legend{
		font-family: 'newjuneboldregular';
		color: $titles;
	}

	.form-info{
		font-family: 'NeoSansStd-Light';
		color: $primary_gray;
		font-size: 1.2em;
	}

	.form-info.warning{
		font-size: 1.1em;
		margin-top: -1em;
		color: $primary_green;
	}

	.error{
		border-radius: 2px;
		background-color: $error_form;
		color: $emp;
		font-family: 'NeoSansStd-Light';
		font-size: 1.14em; /* 16px */
		margin:1em 0;
		padding: 1em;
	}

	.errorlist{ display:none; }
}

.center{ text-align: center; }
