#bg-overlay.home{ 
	background-color: $primary_red_a;
}

#breadcrumbs.home{
	background-color: $primary_green;
	padding-top: 0.5em;
	p{ 
		color: $white;
		font-family: 'NeoSansStd-Regular';
		font-size: 1.5em;
	}
}

.president.home{
	text-align: center;
	img{ 
		margin: 2em auto;
		width: 128px;
		height: auto;
	}
	h4{
		font-size: 1.71em;
		font-family: 'NeoSansStd-Bold';
		color: $texts;
		margin:0;
	}
	h6{
		font-family: 'NeoSansStd-Regular';
		font-size: 1.5em;
		color: $texts;
		margin:0;
	}
}

.description.welcome{ p{ color: rgba(0,0,0,0.9); } }

.salute{
	text-align: center;
	margin-bottom: 0;
	&.subtitle{ font-size: 1em; }
}

#bg-bottom-overlay.home{ background-color: $primary_brown_a_banner; }

#bg-video{
	width: 100%;
	height: 100%;
  	position: relative;
  	z-index: 1;
  	video{
  		min-width: 100%;
  		min-height: 100%;
  	}
}