html, body, p{ 
  font-size:14px; color: $texts;
  /* small only */
  @media only screen and (max-width: 40em) { font-size:12px; }

}
hr{ border-color: $hr; margin:2em 0; }

/*a{
  color: $primary_red;
  &:hover{ color: $primary_red_a; }
  &:link{ color: $primary_red_a; }
  &:active{ color: $primary_gray; }
}*/

h1 {
  font-family: 'newjuneboldregular';
  font-size: 4.28em; /* 60px */
  color: white;
}

h2 {
  font-family: 'newjuneboldregular';
  font-size: 3.85em; /* 54px */
  color: #ffdd00;
}

h3 {
  font-family: 'newjunebookregular';
  font-size: 3.42em; /* 48px */
  color: white;
}

h4 {
  font-family: 'NeoSansStd-Regular';
  font-size: 1.71em; /* 24px */
  color: white;
}

h5 {
  font-family: 'newjuneboldregular';
  font-size: 2.28em; /* 36px */
  color: #ffdd00;
}

h6 {
  font-family: 'NeoSansStd-Regular';
  font-size: 1em; /* 14px */
  color: #333333;
}

blockquote{
  margin: 2em 0;
  & > *{
    font-size: 0.8em; 
    line-height: 1.6em;
  }
}

header#bg-main{
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;

	#bg-overlay{
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;

    hr{ border-color: $primary_yellow; }
	}

	#bg-description{ 
		text-align: center; 
    height: 100%;

    .title-content{
      display: table;
      width: 100%;
      height: 100%;
    }

    .title-inner{
      display: table-cell;
      vertical-align: middle;
    }
	}
}

#breadcrumbs{
	background-color: blue;
	height:60px;
	width:100%;
  font-family: 'NeoSansStd-Regular';
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
}

.description{
  & > * {
    font-size: 1.42em; /* 20px */
    font-family: 'NeoSansStd-Light';
    color: $description;
    line-height: 1.8em;
  }

}

#bg-bottom{
  margin: 5em auto;
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: 0 50%;

  #bg-bottom-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    h3 {
      p{
        font-size: 1em;
        color: white;
      }
    }
  }

  .title-content{
    display: table;
    width: 100%;
    height: 100%;
  }

  .title-inner{
    display: table-cell;
    vertical-align: middle;
  }
}

#bg-banner{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: 0 25%;
}

.customrow{
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  clear: both;
}

.btn{
  max-height: 25px;
  background-color: $primary-green;
  border-bottom: 2px solid $btn_border;
  font-family: 'newjuneboldregular';
  color: $white !important;
  padding:8px 12px;
  border-radius: 3px;
}

.btn.big{
  top: 65px;
  position: relative;
  font-size: 1.25em;
}

.language-link{
  border-bottom: 1px solid $texts;
  &:hover{
    border-bottom: 1px solid $primary_red;
  }
}

#main-content{ position:relative; }