#main_menu{
	position: fixed;
	top:0;
	width: 100%;
	height: 70px;
	background-color: white;
	z-index: 5;
	border-bottom: 1px solid $hr;
	@media only screen and (max-width: "899px"){ position: relative; }

	img{ 
		margin-top: -0.5em; 
	}

	#menu-mob{
		display:none;
		position:absolute;
		right: 1em;;
		top: 1.2em;
		i{ margin-left: 0.5em; }
		@media only screen and (max-width: "899px") { display:inline-block; max-height: 32px; }
	}

	nav{
		position: absolute;
		right:0;
		display: inline-block;
		height: 100%;
		top: 0;

		& > ul{ 
			margin: 0; 
			list-style: none;
			background-color: white;
			position: relative;
			height: 100%;

			li{
				float: left;
				position: relative;
				padding: 1em 1em;
				height:100%;
				line-height: 3em;

				@media only screen and (max-width: "900px") { 
					float: none; 
					padding: 1em 1em;
				}
			}
		}

		@media only screen and (max-width: "900px") { 
			display:none;
			&.toggle{ display: block; }
			position: relative;
			width: 100%;
		}
	}

	li{
		font-family: 'NeoSansStd-Light';
		font-size: 1em;
	}

	.customrow{
		position: relative;
		@media only screen and (max-width: "899px"){ padding: 0; border-bottom: 1px solid $hr; }
	}

}

#menu li a{ color: $texts; }
#menu li span{ white-space: nowrap; }
#menu li a.active{ color: $primary_green; }
#menu li:hover > a{ color:$primary_red; }
#menu li:hover > span{ color:$primary_red; }
#menu li:hover > .submenu{ 
	@media only screen and (min-width: "901px"){
		display: block;
		height: auto;
		width: auto;
		overflow: visible;
		clip: auto;
		padding-bottom: 1em;
		list-style: none;
		margin-top: -1px;
	}
}
#menu li.toggle > .submenu{
	@media only screen and (max-width: "900px") { 
		padding-bottom: 0;
		display: block;
		height: auto;
		width: auto;
		list-style: none;
		overflow: visible;
		clip: auto;
	}	
}
#menu li:hover > .submenu li{
	@media only screen and (min-width: "901px"){
		overflow: visible;
		padding: 0.5em 1em;
	}
}
#menu li.toggle > .submenu li{
	@media only screen and (max-width: "900px") {
		overflow: visible;
		padding:1em 2em; 
	}
}
#menu .submenu{ 
	display:none;
	position: absolute;
	top: 70px;
	left: 0;
	margin-left:0;
	background-color: $white;
	min-width: 100%;
	margin-top: -1px;
	@media only screen and (max-width: "900px") { 
		position: relative;
		top: 0;
	}
}
#menu .submenu li{
	width: 100%;
	height: auto;
	padding: 0.5em 1em;
}
#menu .submenu li a{
	display: block;
	line-height: 20px;
	white-space: nowrap;
}

#menu .submenu li span{
	display: block;
	line-height: 20px;
	white-space: nowrap;
}

#menu .submenu li:hover > .submenu{
	left: 100%;
	top:0;
	list-style: none;
	@media only screen and (max-width: "900px") { left: 0; }
}

