.sponsors-bg{
	position: relative;
	padding: 2em 0;
	margin-top: -5em;
	background-color: $primary_yellow;
	h2{ color: $titles !important; font-size:2.5em; text-align:center; margin: 0.5em 0 1em 0;}
}