$primary_red_a: rgba(231, 76, 60, 0.5);
$primary_red: #e11a22;
$primary_yellow_a: rgba(255,220,0, 0.7);
$primary_yellow: #ffdd00;
$primary_green: #009ba9;
$primary_green_a: rgba(0,155,169, 0.7);
$primary_brown_a: rgba(151,112,90,0.7);
$primary_mint: #5dc0a3;
$primary_mint_a: rgba(93,192,163, 0.7);
$primary_gray_a: rgba(118,119,122, 0.7);
$primary_gray: #76777a;
$primary_mint: #5dc0a3;
$white: white;
$texts: rgba(0,0,0,1);
$hr: #cccccc;
$description: rgba(0,0,0,0.8);
$footer: #1a1a1a;
$breadcrumbs: #333;
$titles: #4d4d4d;
$emp: rgba(225,26,32,0.6);
$primary_brown_a_banner: rgba(151,112,90,0.5);
$btn_border:#007580;
$input_form: #434343;
$error_form: rgba(255,220,0, 0.25);
$student_card: #f2f2f2;