{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

<div class="small-12 medium-3 columns">
	<p><a href="/" title="UDEMUN 2015"><img src="https://d3axz3kazhjmop.cloudfront.net/media/{{location.eventLogo}}" /></a></p>
</div>
<div class="small-12 medium-3 columns">
	<h1>{% trans "Location" %}</h1>
	{% block footerLocation %}
		<p>{{location.location|markdown}}</p>
	{% endblock footerLocation %}
</div>
