{% load i18n %}
<a id="menu-mob" class="item btn">
	Menu <i class="fi-list"></i>
</a>
<nav id="nav-primary">
	<ul id="menu">
		{% for key,values in menu.items%}
			<li>
				{% if values.child|length > 0%}
					<span>{{values.parent}}</span>
					<ul class="submenu"> 
						{% for item in values.child %}
							<li>
								<span>{{item.label}}</span>
								<ul class="submenu">
									{% for page in article %}
										{% if page.slug != '' and page.slug != None and page.slug != 'none' %}
										{% if page.category.pk == item.pk %}
											<li><a href="{% url 'main_default_article' values.parent.slug item.slug page.slug%}">{{page.title}}</a></li>
										{% endif %}
										{% endif %}
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					{% if values.count == 1 %}
						{% for item in article %}
							{% if item.slug != '' and item.slug != None and item.slug != 'none' %}
							{% if item.category.pk == values.parent.pk %}
								<span><li><a href="{% url 'main_default_article' values.parent.slug item.slug%}">{{values.parent}}</a></li></span>
							{% endif %}
							{% endif %}
						{% endfor %}
					{% else %}
						<span>{{values.parent}}</span>
						{% if values.count > 0 %}
						<ul class="submenu"> 
							{% for item in article %}
								{% if item.slug != '' and item.slug != None and item.slug != 'none' %}
								{% if item.category.pk == values.parent.pk %}
									<li><a href="{% url 'main_default_article' values.parent.slug item.slug%}">{{item.title}}</a></li>
								{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
						{% endif %}
					{% endif %}
				{% endif%}
			</li>
		{% empty %}
			
		{% endfor %}
		{% if user.is_authenticated %}
			<li>
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as languages %}
				{% for lang_code, lang_name in languages %}
					{% if lang_code != LANGUAGE_CODE %}
						{% language lang_code %}
						<a id="language" class="language-link" href="{% url 'home' %}">
							{% if lang_name == "Spanish" %} Español
							{% else %} English
							{% endif %}
						</a>
						{% endlanguage %}
					{% endif %}
				{% endfor %}
			</li>
			{% if teacher %}
				<li><span class="btn">{% trans "Hi!" %} {{teacher.first_name}}</span>
					<ul class="submenu">
						<li><a href="{% url 'teacher_profile' %}">{% trans "Profile" %}</a></li>
						{% if teacher.status == "A" %}
							<li><a href="{% url 'teacher_students' %}">{% trans "Students" %}</a></li>
							{% if students < teacher.students_number %}
							<li><a href="{% url 'teacher_new_student' %}">{% trans "Add Student" %}</a></li>
							{% endif %}
						{% endif %}
						<li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
					</ul>
				</li>
			{% endif %}
		{% else %}
			<li>
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as languages %}
				{% for lang_code, lang_name in languages %}
					{% if lang_code != LANGUAGE_CODE %}
						{% language lang_code %}
						<a id="language_menu" class="language-link" href="{% url 'home' %}">
							{% if lang_name == "Spanish" %} Español
							{% else %} English
							{% endif %}
						</a>
						{% endlanguage %}
					{% endif %}
				{% endfor %}
			</li>
			<li><a href="{% url 'login' %}" class="btn">{% trans "Login" %}</a></li>
		{% endif %}
	</ul>
<nav>
