{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% if sponsors %}
	<div class="sponsors-bg">
		<h2>{% trans "Sponsors" %}</h2>
		<div class="customrow">
			{% for sponsor in sponsors %}
				<div class="small-6 medium-4 columns">
					<div class="text-center">
						<img src="{{ MEDIA_URL }}{{sponsor.sponsorLogo}}" />
					</div>
				</div>
				{% if forloop.counter|divisibleby:"3" %}
					{% if forloop.last %}
						</div>
					{% else %}
						</div>
						<div class="customrow">
					{% endif %}
				{% else %}
					{% if forloop.last %}
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
	</div>
{% endif %}