{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>UDEMUN 2015</title>
</head>

<body>
	<a href="http://www.udemun.com" title="UDEMUN 2015"><img src="http://files.udemun.com/media/udemun_img/udemun_logo_color.png" /></a>
	<p>{% trans "A new teacher has register and is waiting to be accepted!" %}</p>
	<h2> {% trans "Teacher Info" %} </h2>
	<div>
		<p>{% trans "Name" %}: {{ teacher.first_name }}{{ teacher.last_name }}</p>
		<p>{% trans "School" %}: {{ teacher.school }}</p>
		<p>{% trans "Prefered language" %}: {{ teacher.language_preference }}</p>
		<p>{% trans "Number of students" %}: {{ teacher.students_number }}</p>
	<div>
</body>
</html>
