{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>UDEMUN 2015</title>
</head>

<body>
	<a href="http://www.udemun.com" title="UDEMUN 2015"><img src="http://files.udemun.com/media/udemun_img/udemun_logo_color.png" /></a>
	<p>{% trans "Thanks for registering at Udemun, here is your info account" %}</p>
	<h2>{% trans "Teacher Account Info " %}</h2>
	<div>
		<p>{% trans "Username" %} : {{user}}</p>
		<p>{% trans "Password" %} : {{password}}</p>
	</div>
	<hr>
	<h2>{% trans "Teacher Profile" %} </h2>
	<div>
		<p>{% trans "Name" %}: {{ teacher.first_name }}{{ teacher.last_name }}</p>
		<p>{% trans "School" %}: {{ teacher.school }}</p>
		<p>{% trans "Prefered language" %}: {{ teacher.language_preference }}</p>
		<p>{% trans "Number of students" %}: {{ teacher.students_number }}</p>
		<p>{% trans "Current Status" %} : {{ teacher.status }}</p>
	</div>
	<hr>
	<h2>{% trans "Next Steps" %}</h2>
	<p>{% trans "Wait for your status change notification" %}</p>
	<p>{% trans "When you receive your acceptance notification, you can log in to UDEMUN" %}</p>
	<p>{% trans "You can start adding your students" %}</p>
</body>
</html>
