{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>UDEMUN 2015</title>
</head>

<body>
	<a href="http://www.udemun.com" title="UDEMUN 2015"><img src="http://files.udemun.com/media/udemun_img/udemun_logo_color.png" /></a>
	<p>{% trans "Congratulations, you are part of an UDEMUN team" %}</p>
	<h2>{% trans "Student Information " %}</h2>
	<div>
		<p>{% trans "Name" %}: {{ student.first_name }}{{ student.last_name }}</p>
		<p>{% trans "Email" %}: {{ student.email }}</p>
		<p>{% trans "Committee" %}: {{ student.committee_name }}</p>
		<p>{% trans "Committee Country" %}: {{ student.country }}</p>
	</div>
</body>
</html>
