{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article">
		<div id="bg-overlay" class="article" class="row">
			<div id="bg-description" class="small-11 small-centered medium-7 medium-centered columns">
				<div class="title-content">
				<div class="title-inner">
					<h1>{% trans "JOIN OUR MISSION" %}</h1>
					<hr>
					<h4>{% trans "February 5-7, 2015" %}</h4>
				</div>
				</div>
			</div>
		</div>
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{% trans "Edit Teacher's Profile" %}
	</div>
	<div class="row">
		<div class="small-10 small-centered medium-10 medium-centered columns">
			<section class="form">
				<h4>{% trans "Update your profile" %}</h4>
				<h3>{% trans "After updating your profile, account can't" %}</h3>
				{% if form.errors %}
					<p class="error">{% trans "Oops! Something went wrong, please try again." %}</p>
				{% endif %}
				<form id="teacher-edit" action="" method="post">
					{% csrf_token %}
		            <p class="form-info warning">{% trans "If you don't select the correct grade" %}</p>
	    			<div class="row">
	    			<div class="small-6 medium-6 columns">
				        {{ form.first_name.label_tag }}
			            {{ form.first_name }}
			        </div>
			        <div class="small-6 medium-6 columns">
			        	{{ form.last_name.label_tag }}
			            {{ form.last_name }}
			        </div>
			        </div>
			            {{ form.email.label_tag }}
			            {{ form.email }}
			        <div class="row">
			        <div class="small-6 medium-6 columns">
			            {{ form.school.label_tag }}
			            {{ form.school }}
			        </div>
			        <div class="small-6 medium-6 columns">
			        	{{ form.grade_type.label_tag }}
			            {{ form.grade_type }}
			        </div>
			        </div>
			        <div class="row">
			        <div class="small-6 medium-6 columns">
			            {{ form.students_number.label_tag }}
			            {{ form.students_number }}
			        </div>
			        <div class="small-6 medium-6 columns">
			            {{ form.language_preference.label_tag }}
			            {{ form.language_preference }}
			        </div>
			        </div>
		            <input class="btn btn-primary" type="submit" value="{% trans 'Update my profile' %}" />
		        </form>
			</section>
		</div>
	</div>
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
		<div id="bg-bottom-overlay" class="home">
            <div class="title-content">
            <div class="title-inner">
            	<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
            </div>
            </div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
	<script type="text/javascript">
		FORM_RULES = {
		    '{{ form.first_name.name }}': { required: true },
		    '{{ form.last_name.name }}': { required: true },
		    '{{ form.email.name }}': { required: true, email:true },
		    '{{ form.students_number.name }}': { required: true },
		    '{{ form.school.name }}': { required: true },
		    '{{ form.grade_type.name }}': { required: true },
		    '{{ form.language_preference.name }}': { required: true },
		};
		
		MESSAGE_RULES = {
			'{{ form.first_name.name }}': "{% trans 'Enter your first name' %}",
			'{{ form.last_name.name }}': "{% trans 'Enter your last name' %}",
			'{{ form.email.name }}': { required: "{% trans 'Enter your email to get updates' %}", email: "{% trans 'Enter a valid email address' %}" },
			'{{ form.students_number.name }}': "{% trans 'Plase provide the number of students for your team' %}",
			'{{ form.school.name }}': "{% trans 'Please provide your school name' %}",
			'{{ form.grade_type.name }}': "{% trans 'Please select a grade' %}",
			'{{ form.language_preference.name }}': "{% trans 'Please select a language' %}",
		}
		$(document).ready(function() {
		    $('#teacher-edit').validate({
		        rules: FORM_RULES,
		        messages: MESSAGE_RULES
		    });
		});
	</script>
{% endblock javascript %}
