{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article">
		<div id="bg-overlay" class="article" class="row">
			<div id="bg-description" class="small-11 small-centered medium-7 medium-centered columns">
				<div class="title-content">
				<div class="title-inner">
					<h1>{% trans "JOIN OUR MISSION" %}</h1>
					<hr>
					<h4>{% trans "February 5-7, 2015" %}</h4>
				</div>
				</div>
			</div>
		</div>
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{% trans "Teacher Students" %}
	</div>
	<div class="row">
		<div class="small-10 small-centered columns">
			<section class="description article">
				<h5>{% trans "Current UDEMUN team" %}</h5>
				{% for student in students %}
					<div class="student-card">
						<h4>{{student.student_name}}</h4>
						<hr>
						<p><strong>{% trans "Email" %}:</strong>{{student.email}}</p>
						<p><strong>{% trans "Grade" %}:</strong>{{student.grade}}</p>
						{% if student.committee %}
							<p><strong>{% trans "Committee" %}:</strong>{{student.committee.name}}</p>
						{% else %}
							<p><strong>{% trans "Committee" %}:</strong>{% trans "No committee assigned yet" %}</p>
						{% endif %}
						<a href="{% url 'teacher_student' student.pk %}" class="btn">{% trans "Teacher Students Edit" %}</a>
					</div>
				{% empty %}
					<h1>{% trans "No students yet, you might like to add one" %}</h1>
					<p><a href="{% url 'teacher_new_student' %}" class="btn">{% trans "Add Student" %}</a></p>
				{% endfor %}
			</section>
		</div>
	</div>
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
		<div id="bg-bottom-overlay" class="home">
            <div class="title-content">
            <div class="title-inner">
            	<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
            </div>
            </div>
		</div>
	</div>
{% endblock content %}

