{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article">
		<div id="bg-overlay" class="article" class="row">
			<div id="bg-description" class="small-11 small-centered medium-7 medium-centered columns">
				<div class="title-content">
				<div class="title-inner">
					<h1>{% trans "JOIN OUR MISSION" %}</h1>
					<hr>
					<h4>{% trans "February 5-7, 2015" %}</h4>
				</div>
				</div>
			</div>
		</div>
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{% trans "Profile" %}
	</div>
	<div class="row">
		<div class="small-10 small-centered medium-5 medium-centered columns">
			<section class="description article">
				<h5>{% trans "Profile Information" %}</h5>
				<h6>{% trans "Name" %}</h6>
				<p>{{teacher.teacher_name}}</p>
				<h6>{% trans "Email" %}</h6>
				<p>{{teacher.email}}</p>
				<h6>{% trans "Current status" %}</h6>
				<p>
					{% if teacher.status == "P" %}
						{% trans "Pending" %}
					{% elif teacher.status == "R" %}
						{% trans "Rejected" %}
					{% else %}
						{% trans "Accepted" %}
					{% endif %}
				</p>
				<h6>{% trans "School" %}</h6>
				<p>{{teacher.school}}</p>
				<h6>{% trans "Number of students available" %}</h6>
				<p>{{teacher.students_number}}</p>
				<h6>{% trans "Language of preference" %}</h6>
				<p>
					{% if teacher.language_preference == 1 %}
						{% trans "English" %}
					{% else %}
						{% trans "Spanish" %}
					{% endif %}
				</p>
				<p class="center"><a href="{% url 'teacher_profile_edit' %}" class="btn btn-primary">{% trans 'Update profile' %}</a></p>
			</section>
		</div>
	</div>
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
		<div id="bg-bottom-overlay" class="home">
            <div class="title-content">
            <div class="title-inner">
            	<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
            </div>
            </div>
		</div>
	</div>
{% endblock content %}
