{% extends "layout.html" %}
{% load django_markdown %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<header id="bg-main" class="article">
		<div id="bg-overlay" class="article" class="row">
			<div id="bg-description" class="small-11 small-centered medium-7 medium-centered columns">
				<div class="title-content">
				<div class="title-inner">
					<h1>{% trans "JOIN OUR MISSION" %}</h1>
					<hr>
					<h4>{% trans "February 5-7, 2015" %}</h4>
				</div>
				</div>
			</div>
		</div>
		<div id="bg-banner" class="{{article.category}}" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_teacher.jpg')"></div>
	</header>
	<div id="breadcrumbs" class="article {{category.slug}}">
		{% trans "Edit Student's Profile" %}
	</div>
	<div class="row">
		<div class="small-10 small-centered medium-10 medium-centered columns">
			<section class="form">
				<h4>{% trans "Update your student profile" %}</h4>
				{% if form.errors %}
					<p class="error">{% trans "Oops! Something went wrong, please try again." %}</p>
				{% endif %}
				<form id="student-edit-form" action="" method="post">
					{% csrf_token %}
					<div class="row">
	    			<div class="small-6 medium-6 columns">
	    				{{ form.first_name.label_tag }}
			            {{ form.first_name }}
	    			</div>
	    			<div class="small-6 medium-6 columns">
	    				{{ form.last_name.label_tag }}
			            {{ form.last_name }}
	    			</div>
	    			</div>
	    			{{ form.email.label_tag }}
			        {{ form.email }}
			        {{ form.grade.label_tag }}
			        {{ form.grade }}
			        {{ form.committee.label_tag }}
			        {{ form.committee }}
		            <input class="btn btn-primary" type="submit" value="{% trans 'Update student' %}" />
		        </form>
			</section>
		</div>
	</div>
	<div id="bg-bottom" style="background-image:url('{{ MEDIA_URL }}static/udemun_img/default_footer.jpg')">
		<div id="bg-bottom-overlay" class="home">
            <div class="title-content">
            <div class="title-inner">
            	<h3><p>{% trans "Experience UDEMUN 2015" %}</p></h3>
            </div>
            </div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
	<script type="text/javascript">
		FORM_RULES = {
		    '{{ form.first_name.name }}': { required: true },
		    '{{ form.last_name.name }}': { required: true },
		    '{{ form.email.name }}': { required: true, email:true },
		    '{{ form.grade.name }}': { required: true },
		};
		
		MESSAGE_RULES = {
			'{{ form.first_name.name }}': "{% trans 'Enter your student first name' %}",
			'{{ form.last_name.name }}': "{% trans 'Enter your student last name' %}",
			'{{ form.email.name }}': { required: "{% trans 'Enter your student email address' %}", email: "{% trans 'Enter a valid email address' %}" },
			'{{ form.grade.name }}': "{% trans 'Please select a grade or year that applies' %}",
		}
		$(document).ready(function() {
			//placeholder
		    $('#student-edit-form').validate({
		        rules: FORM_RULES,
		        messages: MESSAGE_RULES
		    });
		});
	</script>
{% endblock javascript %}
